.container{
    height:200vh;
    width:100%;
    border:solid black;
}
.ship {
    margin: 20px;
    padding: 10px;
  }
  .progress {
    height: 20px;
    background-color: #444;
    border: 1px solid #fff;
    border-radius: 5px;
    overflow: hidden;
  }
  .progress-bar {
    height: 100%;
    background-color: #0f0;
    width: 100%;
    transition: width 0.5s ease-in-out;
  }