.container{
    height:200vh;
    width:100%;
    border:solid black;
    background: #111;
}
.ship {
    margin: 20px;
    padding: 10px;
    color: #fff;

  }
  .progress {
    height: 20px;
    background-color: #444;
    border: 1px solid #fff;
    border-radius: 5px;
    overflow: hidden;
  }
  .progress-bar {
    height: 100%;
    background-color: #0f0;
    width: 100%;
    transition: width 0.5s ease-in-out;
  }
  .log {
    font-size: 14px;
    margin-top: 20px;
    text-align: left;
    color: #fff;
  }
  .button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #444;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
  }
  .button:hover {
    background-color: #555;
  }
  .attack-message {
    margin: 10px auto;
    font-size: 18px;
    color: #ff0;
  }